<div class="container">
  <h1 class="my-4 text-center text-lg-left">Scrabble Club Leader Board</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Number of Games</th>
        <th>Average score</th>
      </tr>
    </thead>

    <tbody>
      <% if @members.present? %>
        <% @members.each do |member| %>
          <tr>
            <td><%= member&.full_name if member.full_name.present? %></td>
            <td><%= member.participants.count if member.participants.present? %></td>
            <td><%= average_score(member&.participants) if member.participants.present? %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3">
            <p class="record_not text-center"> Record Not Found </p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
